# Postgres container
POSTGRES_DB=jeans
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Shank@25


# App -> DB connection (used by db.py inside the app container)
DB_HOST=db
DB_PORT=5432
DB_NAME=jeans
DB_USER=postgres
DB_PASSWORD=Shank@25
